
{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="container pt-5 pb-5" >
    <div class="row justify-content-center" >
        <div class="col-sm-10">
            <h1 class="text-center">About </h1>
            <p class="text-center">Here is a simple description</p>
            <p class="text-justify">The application allows users to see the available quotes and they can make quotes too after registering</p>
        </div>
    </div>
</div>

{% endblock %}